<form action="/adicionar" method="POST">
    <p>Titulo:</p>
    <input type="text" name="titulo">
    <p>Conteudo:</p>
    <textarea name="conteudo"></textarea>
    <p><button type="submit">Cadastrar postagem</button></p>
</form>